# Base de datos MySQL
DB_HOST=localhost
DB_USER=tu_usuario
DB_PASS=tu_contraseña
DB_NAME=kinerva

# JWT
JWT_SECRET=tu_secreto_jwt

# Web Push VAPID (notificaciones background)
VAPID_PUBLIC_KEY=BMNCvn8Wwqi58gd5Wrv8cjztwrJiC0WucfM1pFyLQfkipkD7y-HuuKox1m8dlfZeaHBrkmZ2IhkiuY1wAcV5aXg
VAPID_PRIVATE_KEY=_Lhx792b-VJY4pgtIkQ9sbk1ohNYnuZwhqT_uVWH_Og

PORT=3000
